body , html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
* {
     margin: 0; 
     padding : 0;
}
#header{
    width: 100%;
    /*background-image: url(images/image1.jpg);*/
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    margin-top: 0;
}
.imgtag{
    margin:  auto;
    border-radius: 50%;
    width: 10%;
    display: block;
    border: solid 5px #000;
    padding: 2px;
    margin-top: 3%;
}
.line{
    width: 40%;
    margin: auto;
    height: 2px;
    background-color: gray;
    border-radius: 5px;
}
.heading{
    text-align: center;
    color: #000;
    padding-top: 1%;
    font-family : Righteous;
    font-size: 42px;
}
.sub-heading{
    text-align: center;
    color: #000;
    font-family: Yanone Kaffeesatz;
    font-size: 32px;
    padding-bottom: 5%;
}
#About{
    padding-top: 2%;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-family: Passion One;
    font-size: 32px;
    display: block;
}
#paragraph{
    display: block'
}
#startbtn{
    font-family: Righteous;
    font-size: 24px;
    padding: 2% 10% 2% 10%;
    border-radius: 20px;
    margin-top: 5%;
    background-color: rgb(161, 226, 152);
    border-style: solid;
}
#questions{
    display: none;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid 2px grey;
    border-radius: 25px;
    transition-duration: 1s;
}
#questionCounter h3{
    font-size: 18px;
    color: rgb(32, 21, 21);
    font-family: Passion One;
    word-spacing: 22px;
    padding: 2%;
}
#getQuestions{
    padding: 2% 0 3% 0;
    font-family: Righteous;
    padding: 1%;
}
#optionBank{
    border: solid 5px;
    border-color: #000;
    margin: 5%;
    padding: 3%;
    border-radius: 25px;
}
.choices{
    border: solid 2px black;
    font-family: Righteous;
    font-size: 24px;
    padding: 4%;
    margin: 3%;
    border-radius: 25px;
}
#explaination{
    display: none;
    font-family: Righteous;
    padding: 1%;
    font-size: 24px;
}
.instruction{
    font-family: Righteous;
    padding: 1%;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
}
a :active{
    background-color: #fff;
}
/*.explained{
    font-size: 24px;
    font-family: Passion One;
    padding: 1%;
}*/
#buttons{
    margin-top: 3%;
}
.btn{
    padding: 3% 5% 3% 5%;
    color: white;
    background-color: rgb(10,10,10);
    opacity: 0.3;
    font-size: 22px;
    font-family: Righteous;
    border-radius: 25px;
    box-shadow: 0;
    border-style: solid;
    width: 70%;
    transition-duration: 0.4s;
}
.checkbtn{
    padding: 3% 5% 3% 5%;
    color: white;
    background-color: rgb(10, 10, 10);
    opacity: 1;
    font-size: 22px;
    font-family: Righteous;
    border-radius: 25px;
    box-shadow: 0;
    border-style: solid;
    width: 70%;
    transition-duration: 0.4s;
}







@media screen and (max-width: 600px) {
    .heading{
        font-size: 32px;
    }
    .imgtag{
        width: 25%;
    }
    .sub-heading{
        font-size: 24px;
        padding-top: 1%;
        padding-bottom: 7%;
        padding-right: 2%;
        padding-left: 2%;
    }
    #About{
        font-size: 24px;
        padding-top: 5%;
    }
    #startbtn{
        font-size: 20px;
        margin-top: 10%;
        width: 70%;
    }
    #questions{
        width: 90%;
    }
    .btn{
        font-size: 18px;
    }
    .checkbtn{
        font-size: 20px;
    }
  }