body , html{
    margin: 0;
    padding: 0;
}
* {
     margin: 0; 
     padding : 0;
}
#header{
    width: 100%;
    background-image: url(images/image1.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    margin-top: 0;
}
.heading{
    text-align: center;
    color: white;
    padding-top: 5%;
    font-family : Righteous;
    font-size: 42px;
}
.sub-heading{
    text-align: center;
    color: white;
    font-family: Yanone Kaffeesatz;
    font-size: 32px;
    padding-top: 2%;
    padding-bottom: 5%;
}
#About{
    padding-top: 2%;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-family: Passion One;
    font-size: 32px;
    display: block;
}
#paragraph{
    display: block'
}
#startbtn{
    font-family: Righteous;
    font-size: 24px;
    padding: 2% 10% 2% 10%;
    border-radius: 20px;
    margin-top: 5%;
    background-color: rgb(161, 226, 152);
}
#questions{
    display: none;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid 2px grey;
    border-radius: 25px;
}
#questionCounter h3{
    font-size: 18px;
    color: rgb(32, 21, 21);
    font-family: Passion One;
    word-spacing: 22px;
}
#getQuestions{
    padding: 2% 0 3% 0;
    font-family: Righteous;
    padding: 1%;
}
#optionBank{
    border: solid 5px #000;
    margin: 5%;
    padding: 3%;
    border-radius: 25px;
}
.choices{
    border: solid 2px black;
    font-family: Righteous;
    font-size: 24px;
    padding: 2%;
    margin: 1%;
    border-radius: 25px;
}
.explained{
    font-size: 24px;
    font-family: Passion One;
    padding: 1%;
}
#buttons{
    margin-top: 3%;
}
.btn{
    padding: 3% 5% 3% 5%;
    color: white;
    background-color: #000;
    font-size: 22px;
    font-family: Righteous;
    border-radius: 25px;
}
#check{
    margin-right: 5%;
}
#next{
    margin-left: 5%;
}








@media screen and (max-width: 600px) {
    .heading{
        font-size: 32px;
    }
    .sub-heading{
        font-size: 28px;
        padding-top: 7%;
        padding-bottom: 7%;
    }
    #About{
        font-size: 24px;
        padding-top: 5%;
    }
    #startbtn{
        font-size: 20px;
        margin-top: 10%;
    }
    #questions{
        width: 90%;
    }
    .btn{
        font-size: 18px;
    }
  }